<app-nav></app-nav>
<div class="row col-container">
  <div class="col-3">
    <ul class="list-group" id="myachiev">
      <p id="header">My Achievements</p>
      <app-achievement-list-item *ngFor="let achievement of this.achievementService.unlockedAchievements" [achievement]=achievement></app-achievement-list-item>
    </ul>
  </div>
  <div class= col-6>
    <div class="container banner-container">
      <img src="/assets/img/themeBanner.png">
    </div>
    <app-achievement-list></app-achievement-list>
  </div>
  <div class="col-3">
    <ul class="list-group" id="list">
     <p id="label">Most Achieved Fans</p>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <tr *ngFor="let user of this.achievementService.leaderboard; let i = index">
          {{user.username}}
        </tr>
      <span class="badge badge-primary badge-pill">
          <tr *ngFor="let userRating of this.achievementService.numUnlocked; let i = index">
          {{userRating.totalAchiev}}
        </tr>
      </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
      CubbieLover
      <span class="badge badge-primary badge-pill">2</span>
    </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    SoxNation
    <span class="badge badge-primary badge-pill">1</span>
  </li>
  </ul>
  </div>

</div>
<div class=" footer-img">
  <img src="../../assets/authhero.png" class="chicago">
</div>


