#list {
  margin-left: 60%;
  margin-right: 2%;
}

#myachiev {
  margin-right: 60%;
  margin-left: 2%;
}
.col-container {
  padding-top: 10px;
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  width: 25%;
}

#star {

}

#header {
  text-align: center;
}

#label {
  text-align: center;
}

#locked {
  width: 50%;
}
