.banner-container {
  width:100%;
}


.banner-container img {
  width:60%;
  margin-left:20%;
  margin-right:20%;
  margin-top:20px;
}

#list {

}

#myachiev {

}
.col-container {
  padding-top: 10px;

width:100%;
}
.col {


}

#star {

}

#header {
  text-align: center;
}

#label {
  text-align: center;
}

#locked {
  // width: 50%;
}

.footer-img {

  height:50%;
  text-align:center;
}

.footer-img img {
  width:100%;;
  height:auto;

}


