<app-nav></app-nav>
<div class="row col-container">
  <div class="col-3 first-col">
    <ul class="list-group" id="myachiev">
      <p id="header">My Achievements</p>
      <app-achievement-list-item *ngFor="let achievement of this.achievementService.unlockedAchievements" [achievement]=achievement></app-achievement-list-item>
    </ul>
  </div>
  <div class= "col-6 second-col">
    <div class="container banner-container">
      <img src="/assets/img/themeBanner.png">
    </div>
    <app-achievement-list></app-achievement-list>
  </div>
  <div class="col-3 third-col">
     <p id="label">Most Achieved Fans</p>

       <app-leaderboard-list-item *ngFor="let member of this.achievementService.numUnlocked" [userRating]=member></app-leaderboard-list-item>
  </div>

</div>
<div class=" footer-img">
  <img src="../../assets/authhero.png" class="chicago">
</div>


