.filter-label {
    color:#EC0000;
    font-weight: bold;
    font-size:24px;
    margin-left:3%;
}

.filter-input {
    width:80%;
    margin-left:50px;
    float:right;
}

.filter-btn {
    background-color:#EC0000;
    border-radius:20px;
    color:white;
    border-color: #EC0000;
    border-style: solid;
    font-size:20px;
    font-weight:bold;
    float:left;
    margin-left:0px;
}

.row-cont {
    width: 100%;
}
