.filter-label {
    color:#EC0000;
    font-weight: bold;
    font-size:24px;
    margin-left:25%;
}

.filter-input {
    width:15%;
    margin-left:25%;
}

.filter-btn {
    margin-left:25%;
    background-color:#EC0000;
    border-radius:20px;
    color:white;
    border-color: #EC0000;
    border-style: solid;
    font-size:20px;
    font-weight:bold;
}