$Chired : #FF0000;
$Chiblue: #B3DDF2;
.navbar-brand {
  color: $Chired;
}

#cards {
  color: $Chiblue;
}

#home {
  color: $Chiblue;
}

#prof {
  color: $Chiblue;
}
#leaderBoard {
  color: $Chiblue;
}
