<header>
  <div>
    <table class="center">
      <tr>
        <td>
          <img src="../../assets/baseball.png" alt="Baseball" class="baseball">
        </td>
        <td>
          <h2>SPORTSDEX</h2>
        </td>
        <td>
          <img src="../../assets/flag.png" alt="Flag" class="flag">
        </td>
      <tr>
    </table>
  </div>
</header>
<body>
<div>
  <table class="center">
    <tr>
      <td>
        <img src="../../assets/bears.png" alt="Bears" class="bears">
      </td>
      <td>
        <h3>Welcome Back!</h3>
      </td>
    <tr>
  </table>
</div>
<form action="/action_page.php">
  <label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname"><br><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass"><br><br>
  <input type="submit" class="button button3" value="Login">
</form>
</body>
<img src="../../assets/authhero.png" alt="Chicago" class="chicago">
