.chicago {
  position: absolute;
  width: 1440px;
  height: 414.72px;
  left: 0px;
  top: 609px;
}

.baseball {
  vertical-align: middle;
  floatLeft { float: left; }
}

.flag {
  vertical-align: middle;
}

.cubs {
  vertical-align: middle;
}

h2 {
  vertical-align: middle;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #EC0000;
}

h3 {
  text-align: center;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #003764;
}

h4 {
  position: absolute;
  left: 3.35%;
  right: 3.35%;
  top: 14.04%;
  bottom: 12.28%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37.0706px;
  line-height: 43px;
  color: #FFFFFF;
}

.createaccount {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #003764;
  border-radius: 20.5948px;
}

body {
  text-align: center;
}

form {
  display: inline-block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: orangered;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 269px;
  height: 57px;
}

.button3 {border-radius: 8px;}

.footer-img {
  width: 100%;
}

.footer-img img {
  width: 100%;
}

