.baseball {
  vertical-align: middle;
  floatLeft { float: left; }
}

.flag {
  vertical-align: middle;
}

.cubs {
  vertical-align: middle;
}

h2 {
  vertical-align: middle;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #EC0000;
}

h3 {
  text-align: center;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #003764;
}

h4 {
  position: absolute;
  left: 3.35%;
  right: 3.35%;
  top: 14.04%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37.0706px;
  line-height: 43px;
  color: #FFFFFF;
}

.createaccount {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #003764;
  border-radius: 20.5948px;
}

body {
  text-align: center;
}

form {
  display: inline-block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: orangered;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.button3 {border-radius: 8px;}

.chicago {
  left: 0px;
  bottom: 0;
}



.footer-img img {
  width:100%;;
  height:auto;

}

.header-cont {
  height:20%;

}

.login-cont {
  text-align:center;
  height:30%;
}

.footer-img {

  height:50%;
  text-align:center;
}

.login-cont {

  position:relative;
}

.wrapper {
 text-align: center;
}

.button {
  background-color: #62A3E5;
}
