<app-nav></app-nav>

<div class="split left">
  <div class="center">

    <img src="assets/download.jpg" class="profile-pic">
    <br><br>
    <div class="username-cont"><div class="username">{{this.authServivce.loggedInUser.username}}</div></div>
    <br>
    <h3 id="header">UNLOCKED ACHIEVEMENTS</h3>
    <ul class="list-group">
      <li class="list-group-item">Achievement</li>
      <li class="list-group-item">Achievement</li>
      <li class="list-group-item">Achievement</li>
      <li class="list-group-item">Achievement</li>
      <li class="list-group-item">Achievement</li>
    </ul>
  </div>

  <div class="split right">
    <div class="center">
      <div>
        <h3>LOCKED ACHIEVEMENTS</h3>
        <ul class="list-group">
          <li class="list-group-item">Achievement</li>
          <li class="list-group-item">Achievement</li>
          <li class="list-group-item">Achievement</li>
          <li class="list-group-item">Achievement</li>
          <li class="list-group-item">Achievement</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <img src="assets/authhero.png" class="img">
</div>

