.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: max(64px);
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  margin-left: 0%;
  display: block;
  align-content: center;
  text-align: center;
  child-align: middle;
}

.right {
  right: 0;
  display: block;
  align-content: center;
  child-align: middle;

}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  justify-content: center;
  display: block;
}

.username-cont {
  font-size: 30px;
  font-weight: bold;
}

.unlocked-header {
  text-align:center;
  margin-top:30px;
  color: red;
  font-size:2rem;
  font-weight:bold;
}

.profile-pic {
  width:10rem;
  height:10rem;
  border-radius: 50%;
}

.profile-pic-cont {
  width:8rem;
  height:8rem;
  border-radius:50%;
  background-size: cover;
  background-image: url("/assets/download.jpg");
  background-position: 50% 50%;
  border: solid black;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5px;
  margin-top:20px;
}

.background {
  padding-top:16%;
}

.img {
  max-width:100%;
  height:auto;
}

.profile-pic-col {
  width:20%;
  margin-left:40%;
  margin-right:40%;
  text-align:center;
}

.profile-pic-col img {
  width:20%;
}

.profile-pic-row {
  width:100%;
  font-size:1.5rem;
}

.achievement-cont {
  width:100%;
  margin-right:0;
}

.unlocked-col {
flex-wrap: wrap;
}

.locked-col {
margin-right:0;
flex-wrap: wrap;
}

.header-row {
  width:100%;
}

.unlock-col {
  text-align:center;
  color: #83c2e7;
}

.unlock-col h1 {
  font-size:2rem;
  font-weight:bold;
}

.lock-col h1 {
  font-size:2rem;
  font-weight:bold;
}

.lock-col {
  text-align:center;
}

