<div class="welcome-cont">
  <header>
    <div>
      <table class="center">
        <tr>
          <td>
            <img src="../../assets/baseball.png" alt="Baseball" class="baseball">
          </td>
          <td>
            <h2>SPORTSDEX</h2>
          </td>
          <td>
            <img src="../../assets/flag.png" alt="Flag" class="flag">
          </td>
        <tr>
      </table>
    </div>
  </header>
  <body>
  <div>
    <table class="center">
      <tr>
        <td>
          <img src="../../assets/bulls.png" alt="Bulls" class="bulls">
        </td>
        <td>
          <img src="../../assets/cubs.png" alt="Cubs" class="cubs">
        </td>
        <td>
          <img src="../../assets/sox.png" alt="Soxs" class="soxs">
        </td>
        <td>
          <img src="../../assets/hawks.png" alt="Hawks" class="hawks">
        </td>
        <td>
          <img src="../../assets/clogo.png" alt="Clogo" class="clogo">
        </td>
        <td>
          <img src="../../assets/sky.png" alt="Sky" class="sky">
        </td>
      <tr>
    </table>
  </div>
  <div>
    <h1 class="header-welcome">Earn achievements by supporting Chicago sports teams!</h1>
  </div>
  <button class="buttonRed button3" routerLink="signup"><a href="signup">Get Started!</a></button><br><br>
  <button class="buttonCyan button3" routerLink="signin"><a href="signin">Sign In</a></button>
  </body>
</div>
<div class=" footer-img">
  <img src="../../assets/heroimage.png" class="chicago">
</div>