.settings-header {
    font-size:55px;
    margin-top:20px;
}

.settings-cont {
    text-align:center;
}

.profile-pic {
    width:10rem;
    height:10rem;
    border-radius: 50%;
  }
  
  .profile-pic-cont {
    width:8rem;
    height:8rem;
    border-radius:50%;
    background-size: cover;
    background-image: url("/assets/download.jpg");
    background-position: 50% 50%;
    border: solid black;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
    margin-top:20px;
  }
  
  .profile-pic-col {
    width:20%;
    margin-left:40%;
    margin-right:40%;
    text-align:center;
  }
  
  .profile-pic-col img {
    width:20%;
  }
  
  .profile-pic-row {
    width:100%;
    font-size:1.5rem;
  }

  .footer-img {

    height:50%;
    text-align:center;
  }
  
  .footer-img img {
    width:100%;;
    height:auto;
  
  }

  .form-cont{
    width:50%;
    margin-left:25%;
    margin-right:25%;
  }

  .edit-btn {
    background-color:black;
    color:white;
    font-size:24px;
    width:100px;
    border-radius:30px;
    font-weight:bold;
    padding:5px;
  }