<div class="container banner-container">
    <img src="/assets/img/themeBanner.png">
</div>
<div class="header-cont">
    <h1>Available Achievements</h1>
</div>
<app-achievement-filter></app-achievement-filter>
<div class="selected-team">
    <p>Selected Team: Chicago Bulls</p>
</div>
<div fxLayout="row">
    <app-achievement *ngFor="let achievement of achievementList" [achievement]=achievement></app-achievement>
</div>
<div class="custom-footer">
    <img src="../../assets/authhero.png">
</div>
