.banner-container {
    width:100%;

}


.banner-container img {
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

.header-cont {
    text-align:center;
    color:#EC0000;
}

h1 {
    font-size:30px;
}

.filter-container {
    width:100%;
}
.selected-team {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.filter-cont-col1 {
    border: solid green;
    width:25%;
}

.filter-cont-col2 {
    border: solid red;
}

.selected-team {
    text-align:center;
}

.achievement-cont {
    width:100%;
}

.custom-footer {
    width:100%;
}

.custom-footer img {
    width:100%;
}