<header>
  <div>
    <table class="center">
      <tr>
        <td>
          <img src="../../assets/baseball.png" alt="Baseball" class="baseball">
        </td>
        <td>
          <h2>SPORTSDEX</h2>
        </td>
        <td>
          <img src="../../assets/flag.png" alt="Flag" class="flag">
        </td>
      <tr>
    </table>
  </div>
</header>
<body>
<div>
  <table class="center">
    <tr>
      <td>
        <img src="../../assets/cubs.png" alt="Cubs" class="cubs">
      </td>
      <td>
        <h3>Sign Up</h3>
      </td>
    <tr>
  </table>
</div>
<form action="/action_page.php">
  <label class="label1" for="fname">First Name:</label><label for="lname">Last Name:</label><br>
  <input type="text" id="fname" name="fname"><input type="text" id="lname" name="pass"><br><br>
  <label class="label2" for="uname">Username:</label><label for="email">Email:</label><br>
  <input type="text" id="uname" name="uname"><input type="email" id="email" name="email"><br><br>
  <label for="pass">Password:</label><br>
  <input type="password" id="pass" name="pass"><br><br>
  <input type="submit" class="button button3" value="Create Account">
</form>
</body>
<img src="../../assets/authhero.png" alt="Chicago" class="chicago">

