chicago {
  position: absolute;
  width: 1440px;
  height: 414.72px;
  left: 0px;
  top: 609px;
}

baseball {
  vertical-align: middle;
  floatLeft { float: left; }
}

flag {
  vertical-align: middle;
}

cubs {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 571px;
  top: 138px;
  display:flex;
}

h2 {
  vertical-align: middle;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #EC0000;
}

h3 {
  text-align: center;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #003764;
}

h4 {
  position: absolute;
  left: 3.35%;
  right: 3.35%;
  top: 14.04%;
  bottom: 12.28%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37.0706px;
  line-height: 43px;
  color: #FFFFFF;
}

createaccount {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #003764;
  border-radius: 20.5948px;
}

bears {
  vertical-align: middle;
}

body {
  text-align: center;
  white-space: pre;

}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.register-lbl {
  text-align:left;
}

.register-btn {
  width:25%;
  margin-bottom:10%;
  background-color: #1877F2;
  color:white;
  font-family: "Helvetica", sans-serif;
  font-size:20px;
  font-weight:bold;
  border: none;
  border-radius:5px;
  height:50px;
}

.form {
  text-align: center;
}

.form-label {
  width: 25%;
}

.form-control {
  width: 25%;
}
.row-email {
  align-content: center;
}
